.menu-wrapper {
  margin-top: 36px;

  .menu-item {
    margin: 12px 0;
    display: flex;
    height: 46px;
    align-items: center;
    background: #fff;
    border-radius: 8px;

    i {
      margin: 0 8px 0 16px;
    }

    span {
      flex-grow: 1;
      font-size: 14px;
    }
  }
}